#main {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  flex: 1;
}

#main h1 {
  font-family: Courier, monospace;
  text-align: center;
  color: white;
}

#main p {
  font-family: Courier, monospace;
  color: white;
  text-align: center;
  font-style: italic;
}
 #buttons {
   display: flex;
   text-align: center;
   margin: 30px;
   padding: 50px;
   flex-wrap: wrap;
   flex-direction: column;
 }

 .content-button1 {
   cursor: pointer;
   background-color: #26C13E;
   text-align: center;
   color: white;
   font-family: Courier, monospace;
   text-transform: lowercase;
   margin: 30px;
   padding: 14px 30px;
   font-size: 20px;
   border-style: ridge;
   border-width: 10px;
   border-color: #0E4717;
   justify-content: center;
 }

 .content-button2 {
   cursor: pointer;
   background-color: #26C13E;
   text-align: center;
   color: white;
   font-family: Courier, monospace;
   text-transform: lowercase;
   margin: 30px;
   padding: 14px 30px;
   font-size: 20px;
   border-style: ridge;
   border-width: 10px;
   border-color: #0E4717;
    justify-content: center;
 }

 .content-button3 {
   cursor: pointer;
   background-color: #26C13E;
   text-align: center;
   color: white;
   font-family: Courier, monospace;
   text-transform: lowercase;
   margin: 30px;
   padding: 14px 30px;
   font-size: 20px;
   border-style: ridge;
   border-width: 10px;
   border-color: #0E4717;
   justify-content: center;
 }

 body {
   background-color: #000000;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .footer {
   margin: auto -1 -1 -1;
   background-color: #1F2A2B;
   text-align: center;
   font-family: Courier, monospace;
   font-size: 15px;
   font-style: italic;
   color: #6E7C7E;
   padding: 20px 50px;
 }

 /* #buttons content- */
