<!DOCTYPE html>
<html>
  <head>
    <title>About the Team</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-aboutpage">
    <div id = "main-aboutpage">

      <div id = "aboutpage-links">
        <nav class = "navbar-aboutpage">
          <ul class = "aboutpage-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/">continue</a></li>
            <li class = "nav-item"><a href = "/about">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
        </nav>
      </div>

      <div id = "text-aboutpage">
        <h1>The Creators:</h1>
        <p1>Bianca Macias:<br>
            attending New York University,<br>Tandon School of Engineering<br>
            majoring in Computer Science</p1><br>
        <p2>Brent Williams:<br>
            attending California State University,<br>Dominguez Hills<br>
            majoring in Computer Science</p2><br>
        <p3>Royce Moses:<br>
            attending University of California,<br>Riverside<br>
            majoring in Computer Science</p3>
      </div>

    </div>

    <footer class = "footer-aboutpage">created by CSSI 2019 students</footer>

  </body>
</html>
