<!DOCTYPE html>
<html>
  <head>
    <title>Your Adventure</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-gamepage">
    <div id = "main-gamepage">

      <div id = "gamepage-links">
        <nav class = "navbar-gamepage">
          <ul class = "gamepage-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/continue">continue</a></li>
            <li class = "nav-item"><a href = "/about">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
      </nav>
    </div>

      <div id = "text-gamepage">
        <p>Your name is: {{nickname}}</p>
        <p2>Choose room 1 or room 2:</p2>
      </div>

        <div id = "dropdown-gamepage">
          <form method = "get" action = "/event1">
            <select name = "room-type">
              <option value = "1">Room 1</option>
              <option value = "2">Room 2</option>
            </select><br>
            <button class = "room-choice" type = "submit">go to the next room</button>
          </form>
        </div>

      </div>

    <footer class = "footer-gamepage">created by CSSI 2019 students</footer>

  </body>
</html>
