<!DOCTYPE html>
<html>
  <head>
    <title>About the Team</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-logoutpage">
    <div id = "main-logoutpage">

      <div id = "logoutpage-links">
        <nav class = "navbar-logoutpage">
          <ul class = "logoutpage-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/continue">continue</a></li>
            <li class = "nav-item"><a href = "/about">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
        </nav>
      </div>

      <div id = "text-logoutpage">
        <h1>Are you sure you want to log out?</h1>
      </div>

      <div id="buttons-logoutpage">
        <a href= "{{logout_button}}">
          <button class = "content-button5" type = "submit">log out</button>
        </a>
      </div>

    </div>

    <footer class = "footer-logoutpage">created by CSSI 2019 students</footer>

  </body>
</html>
