<!-- <!DOCTYPE html>
<html>
  <head>
    <title>BRB\'s Project</title>
  </head>
  <body>
    <p>You lost! 1st ending</p>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Room Eight</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-room8page">
    <div id = "main-room8page">

      <div id = "room8page-links">
        <nav class = "navbar-room8page">
          <ul class = "room8page-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/">load past choices</a></li>
            <li class = "nav-item"><a href = "/">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
        </nav>
      </div>

      <div id = "text-room8page">
        <h1>You lost!</h1>
      </div>


    <footer class = "footer-room8page">created by CSSI 2019 students</footer>

  </body>
</html>
