<!-- <!DOCTYPE html>
<html>
  <head>
    <title>BRB\'s Project</title>
  </head>
  <body>
    <p>You lost! 2nd ending</p>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Room Nine</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-room9page">
    <div id = "main-room9page">

      <div id = "room9page-links">
        <nav class = "navbar-room9page">
          <ul class = "room9page-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/continue">continue</a></li>
            <li class = "nav-item"><a href = "/about">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
        </nav>
      </div>

      <div id = "text-room9page">
        <h1>You lost!</h1>
      </div>


    <footer class = "footer-room9page">created by CSSI 2019 students</footer>

  </body>
</html>
