<!DOCTYPE html>
<html>
  <head>
    <title>Room Six</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-room6page">
    <div id = "main-room6page">

      <div id = "room6page-links">
        <nav class = "navbar-room6page">
          <ul class = "room6page-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/continue">continue</a></li>
            <li class = "nav-item"><a href = "/about">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
        </nav>
      </div>

      <div id = "text-room6page">
        <h1>Entering Room Six...</h1>
        <p>Which room is right for you?</p>
        <p2>Enter room nine or ten...<p2>
      </div>

      <div id = dropdown-room6page>
        <form method = "get" action = "/event3_2">
          <select name = "room-type">
            <option value = "9">Room 9</option>
            <option value = "10">Room 10</option>
          </select><br>
        <button class = "room-choice6" type = "submit">go to the next room</button>
        </form>
      </div>
    </div>

    <footer class = "footer-room6page">created by CSSI 2019 students</footer>

  </body>
</html>
