<!DOCTYPE html>
<html>
  <head>
    <title>Room Five</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-room5page">
    <div id = "main-room5page">

      <div id = "room5page-links">
        <nav class = "navbar-room5page">
          <ul class = "room5page-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/">continue</a></li>
            <li class = "nav-item"><a href = "/">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
        </nav>
      </div>

      <div id = "text-room5page">
        <h1>Entering Room Five...</h1>
        <p>Where will you go?</p>
        <p2>Enter room seven or eight...<p2>
      </div>

      <div id = dropdown-room5page>
        <form method = "get" action = "/event3_1">
          <select name = "room-type">
            <option value = "7">Room 7</option>
            <option value = "8">Room 8</option>
          </select><br>
        <button class = "room-choice5" type = "submit">go to the next room</button>
        </form>
      </div>
    </div>

    <footer class = "footer-room5page">created by CSSI 2019 students</footer>

  </body>
</html>
