<!DOCTYPE html>
<html>
  <head>
    <title>Room Ten</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-room10page">
    <div id = "main-room10page">

      <div id = "room10page-links">
        <nav class = "navbar-room10page">
          <ul class = "room10page-nav-links">
            <li class = "nav-item"><a href = "/">start page</a></li>
            <li class = "nav-item"><a href = "/continue">continue</a></li>
            <li class = "nav-item"><a href = "/about">about</a></li>
            <li class = "nav-item"><a href = "/logout">log out</a><li>
          </ul>
        </nav>
      </div>

      <div id = "text-room10page">
        <h1>You lost!</h1>
      </div>


    <footer class = "footer-room10page">created by CSSI 2019 students</footer>

  </body>
</html>
