<!DOCTYPE html>
<html>
  <head>
    <title>Text Video Game</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="main">
      <h1>Text Based Video Game</h1>
      <p>a choose your own adventure game</p>
    </div><br>
      <!-- action="/answers" -->
    <div id="buttons">
        <div class = "content-button1">
           <a href = "/createcharacter" class = "right-button">Start</a>
        </div><br>
        <div class = "content-button2">
          <a href = "/wedontknowyet" class = "load-choices">Load Past Choices</a>
        </div>
    </div><br>
  </body>
</html>
