<!DOCTYPE html>
<html>
  <head>

    <title>Text Video Game</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body id = "body-startpage">
    <div id="main-startpage">

      <h1>Text Based Video Game</h1>
      <p>a choose your own adventure game</p>

      <div id="buttons-startpage">
        <form method = post action = "/createcharacter">
          <button class = "content-button1" type = "submit">start</button>
        </form>
        <form method = post action = "/wedontknowyet">
          <button class = "content-button2" type = "submit">Load Past Choices</button>
        </form>
        <form method = post action "/againwedontknowyet">
          <button class = "content-button3" type = "submit">About the Creators</button>
        </form>
      </div><br>

    </div>
      <!-- action="/answers" -->
    <footer class = "footer-startpage">created by CSSI 2019 students</footer>

  </body>
</html>
